
.btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #0aead4;
    background-color: #009688;
}
.btn-get-started:hover {
    background-color: #0aead4; /* Cambia el color de fondo en hover */
    border: 2px solid #009688; /* Cambia el color del borde en hover */
    opacity: 0.8; /* Aplica una pequeña transparencia en hover (0.8 es 80%) */
  }