.navbar-colored {
    background-color:
        #232843;
    transition: background-color 0.35s ease;
    box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.15);
}

.navbar {
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Roboto', sans-serif;
}

.mi-navbar .navbar-nav>.nav-item>.nav-link {
    padding-top: 1rem;
    /* Aumenta el espacio en la parte superior */
    padding-bottom: 1rem;
    font-size: 1.50rem;
    /* Aumenta el espacio en la parte inferior */
}

.nav-link {
    color: white !important;
}
/* Agrega estilos para el logo en el navbar */
.logo-img {
    width: 100px; /* Ajusta el tamaño del logo según tus necesidades */
    margin-right: 10px; /* Espacio entre el logo y el texto "Sin limites" */
  }
  
  /* Agrega estilos para el logo en modo responsive */
  .logo-img-responsive {
    display: none; /* Oculta el logo por defecto */
  }
  
  @media (max-width: 768px) {
    .logo-img-responsive {
      display: block; /* Muestra el logo en modo responsive */
      width: 50px; /* Ajusta el tamaño del logo en modo responsive */
      margin-top: 10px; /* Ajusta el espacio superior del logo en modo responsive */
    }
  }
  